html {
    height: 100%;
}

body {
    background-color: purple;
    background-image: url(images/kamekichi-photos-x-Qg8xhwQL0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}


header {
    height: 190px;
    width: 1024px;
    text-align: center;
}

.logo {
    width: 200px;
}

nav {
    background-color: #ad6f7a60;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    
}
nav a {
    color: #4E3338;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

main {
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}

h1 {
    font-size: 84px;
    color: #8C5861;
    font-family:'Times New Roman', Times, serif;

}
p {
    font-size: 18px;
    color: #8C5861;
    font-family: 'Times New Roman', Times, serif;

}

footer {
    background-color:#ad6f7a70;
    height: 100px;
    margin-top: 90px;
}

.footer {
  font-size: small;
  text-align: center;
  padding-top: 50px;  
  color: #4E3338;
}


