body {
    background-color: purple;
    background-image: url(images/kamekichi-photos-x-Qg8xhwQL0-unsplash.jpg);
    background-size: cover;
}


.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}


header {
    height: 190px;
    width: 1024px;
    text-align: center;
}

.logo {
    width: 200px;
}

nav {
    background-color: rgb(241, 116, 220);
    height: 40px;
}


main {
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}

h1 {
    font-size: 84px;
    color: rgb(179, 125, 230);
    font-family:'Times New Roman', Times, serif;

}
p {
    font-size: 18px;
    color: rgb(153, 121, 182);
    font-family: 'Times New Roman', Times, serif;

}

footer {
    background-color: rgb(136, 105, 223);
    height: 100px;
}



